.mainDiv {
    width: 100%;
    height: 80%;
    background-color: #efefef;
}

.clear{
    clear: both; 
}

.mudaCorBot{
    width: 100%;
    height: 10px;
    background: linear-gradient(180deg, #306998, 70%, #efefef 100%);
}

/* toTop Inicio */
#toTopImg {
    width: 40px;
}

#btnToTop {
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 20;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* toTop Fim */
/* MiniTitulo Inicio*/

.cpythonMin #letraLogo{
    color: #306998;
}

.cpythonMin #letraComun {
    color: #000;
    font-weight: 1100;
}

.cpythonMin {
    text-align: center;
    font-size: larger;
    color: #FFD742;
    margin: 0.2rem 0 0.25rem 0;
    font-weight: 900;
    display: none;
}

/* MiniTitulo Fim */
