@media only screen and (max-width: 400px){
    .pqPython{
        display: none;
    }
    .cpythonMin{
        display: block;
        background-color: #dfdfdf;
        margin-top: 0;
        margin-bottom: 0;
    } 
}